<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573302671791-h1hicll4sa85g8isetj9085o2lesekdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573302671791-h1hicll4sa85g8isetj9085o2lesekdi</string>
	<key>API_KEY</key>
	<string>AIzaSyA5YeVWE3T-BqpaHCbc5jPCwodMZqM74WU</string>
	<key>GCM_SENDER_ID</key>
	<string>573302671791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClon2</string>
	<key>PROJECT_ID</key>
	<string>instagram-clon-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clon-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573302671791:ios:0684242b2d46538e67075a</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clon-v2.firebaseio.com</string>
</dict>
</plist>